@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: #0d1017;
  color:#fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* .box{
  width: 300px;
  height: 300px;
  border-radius: 100%;
  background-color: yellow;
} */

.box{
  width:150px;
  height: 150px;
  border-radius: 50%;
  background-color: rgba(255,255,255,0.2);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 20px rgba(0,0,0,0.2);
  background-color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 24px;
  text-align: center;
}

.backface-hidden {
  backface-visibility: hidden;
}